/* CSS Reset */
*
{
    margin: 0px;
    padding: 0px;
}
html
{
    /* jab bhi hmare html meh scrolling kisi link yaa button click karke (eg in the <ul> of our document) toh scrolling ekdam smooth ho */
    scroll-behavior: smooth;
}
/* CSS Variables */
:root
{
    --navbar-height: 60px;
}
/* Navigation Bar */
#navbar
{
    display: flex;      
    align-items: center;   /* centralises contents in vertical direction */
    position: sticky;
    /* position: relative; */
    top: 0px;
    z-index: 1; /* z-index: -1 karo aur phir scroll karo, fharak apne aap pata chal jayega aur samj aa jayega ki 1 kyu kiya */
}
#navbar::before
{
    content: "";
    background-color: black;
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    z-index: -1;    /* navbar ka content upar aa jayega */
    opacity: 0.4;   /* background color ko halka karne ke liye */
}
/* Navigation Bar: Logo and Image */
#logo   /* these css properties are applied to the conatiner where our logo is present */
{
    margin: 1px 35px;
}
#logo img    /* these css properties are applied to our logo */
{
    height: 70px;
    margin: 3px 3px;
}
/* Navigation Bar: List Styling */
#navbar ul
{
    display: flex;
    font-family: 'Lobster';
}
#navbar ul li
{
    list-style: none;
    font-size: 1.3rem;  /* 1.3 * font-size of root element */
    /* hmne anchor tag meh padding di hai aur directly li meh nahi di kyuki agar aisa karte toh hover karne pr pura anchor tag ke elements cover nahi hote  */
}
#navbar ul li a
{
    color: white;
    display: block; /* since by default its inline */
    text-decoration: none;
    padding: 3px 22px;
    border-radius: 20px;
    transition: all 1s ease-in-out 0.1s;
}
#navbar ul li a:hover
{
    color: black;
    background-color: white;
    box-shadow: 3px 3px 10px 2px yellow;
}
/* Home Section */
#home
{
    display: flex;
    flex-direction: column;
    padding: 3px 185px;
    justify-content: center;
    align-items: center;
    height: 337px;
    /* border: 2px solid red; */
}
#home::before
{
    content: "";
    position: absolute;
    background: url("../img/bg1.jpg") no-repeat center center/cover;
    top: 0px;   /* top: 0px and left: 0px is important kyuki iss se hmara image upar chale jayega */
    left: 0px;
    height: 425px;  /* if height in % is causing problem then use the unit as pixel */
    width: 100%;
    z-index: -1;    /* navbar ka content upar aa jayega */
    opacity: 0.89; 
}
#home h1
{
    color: white;
    text-align: center;
    font-weight: 900;
}
#home p
{
    color: white;
    text-align: center;
    font-size: 1.8rem;
    font-family: 'Dancing Script';
    font-weight: 500;
}
/* Services Section */
#services
{
    display: flex;
    margin: 34px;
}
#services .box
{
    border: 3px solid red;
    padding: 15px;
    margin: 3px 4px;
    border-radius: 40px;
    background-color: #e7dae8;
    box-shadow: 3px 3px 10px 2px red;
}
#services .box img
{
    display: block; /* taki margin auto se centralise ho paaye */
    margin: auto;
    height: 120px;  /* image ko kaabu meh laane ke liye, bohot fhel gaya tha */
}
#services .box p
{
    font-family: 'Dancing Script';
    font-size: 1.12rem;
}
/* Clients Section */
#client-section
{
    /* height: 344px; */
    position: relative;     /* relative karne se yeh utni hi jagah lega jitni isko chahiye*/
}
#client-section::before
{
    content: "";
    position: absolute;
    background: url('../img/bg.jpg');
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.4;
}
#clients
{
    display: flex;
    align-items: center;
    justify-content: center;
}
#clients img
{
    height: 130px;
}
.client-item
{
    padding: 20px 20px;
    margin: 10px 10px;
}
/* Contact Form Section */
#contact
{
    position: relative;
}
#contact::before
{
    content: "";
    position: absolute;
    background: url('../img/contact.jpg') no-repeat center center/cover;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.5;
}
#contact-box
{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 30px;
}
#contact-box input, #contact-box textarea
{
    width: 95%;
    padding: 0.5rem;
    border-radius: 12px;
    font-size: 0.89rem;
}
#contact-box form
{
    width: 40%;
}
#contact-box label
{
    font-size: 1.3rem;
    font-family: 'Lobster';
}
#contact .btns
{
    border-radius: 12px;
    cursor: pointer;
    font-family: 'Lobster';
    width: 49%;
    margin: auto;
    background-color: black;
    color: white;
    padding: 0.5rem;
    font-size: 0.89rem;
}
#contact [type="reset"]     /* gets properties from input tag as we have already defined properties for input tag above */
{
    border-radius: 12px;
    cursor: pointer;
    font-family: 'Lobster';
    width: 49%;
    margin: auto;
    background-color: black;
    color: white;
}
#contact .btns:hover, #contact [type="reset"]:hover
{
    box-shadow: 3px 3px 10px 2px green;
    background-color: yellow;
    color: black;
}
footer
{
    background: black;
    color: white;
    padding: 4px 10px;
}
/* Utility Classes (these classes will be reused again and again so instead of writing them again and again we wrote them once) */
.h-primary
{
    font-size: 3.5rem;
    padding: 12px;
    /* margin: 5px; */
    font-family: 'Dancing Script';
}
.h-secondary
{
    font-size: 1.9rem;
    padding: 12px;
    font-family: 'Dancing Script';
    /* margin: 15px; */
}
.btn
{
    padding: 6px 20px;
    border: 3px solid white;
    background-color: #9e411f;
    border-radius: 13px;
    color: white;
    margin: 12px;
    font-size: 0.77rem;
    cursor: pointer;
    font-family: 'Lobster';
}
.btn:hover
{
    background-color: rgb(255, 176, 176);
    border-radius: 13px;
    color: #9e411f;
    font-size: 0.79rem;
    box-shadow: 3px 3px 8px 2px green;
}
.center
{
    text-align: center;
}